@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.experience {
  display: flex;
  flex-direction: column;
  border: 2px dotted white;
  border-radius: 10px;
  width: 18rem;
  height: 13rem;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.experience > p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
}
